@import '../node_modules/@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-grey, 900);
$my-app-accent:  mat-palette($mat-red, 500);
$my-app-warn:    mat-palette($mat-red, 500);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
